*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%); /* hsl stands for hue, saturation, and lightness. 206 is close to blue (240), 17% means the color is mostly grey, and 28% means mostly dark. source: https://www.w3schools.com/colors/colors_hsl.asp */
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; /* in rgba, the a stands for alpha, a parameter that decides how transparent a color is. 0.15 means that the color is mostly transparent. source: https://www.w3schools.com/css/css3_colors.asp#:~:text=RGBA%20color%20values%20are%20an,and%201.0%20(fully%20opaque). */
  /* the four length values are, in order, offset-x offset-y blur-radius spread-radius. source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%); /* in hsl, 360 means the same thing as 0 (red). source: https://hslpicker.com/ */
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px 0px; /* if two box shadows are given, they will both show, and in this case they overlap each other because the only difference between them is the color opacity and the blur radius */
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px; /* font size of "Generate Password" text in button is reduced by 6px, margin is reduced by 0px 16px 16px 20px, and padding is reduced by 4px 19px when the screen shrinks */
  }

  #password {
    font-size: 1rem; /* font size of password text in box is reduced by 0.2 rem (3.2px) when the screen shrinks */
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem; /* font size of button text is further reduced by 0.2 rem when the screen becomes even smaller */
  }
}
